
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>

<p>
    Name: Feekra Baset Baishakhi<br />
    Occupation: Student<br />
    Age: 20<br />
    Blood Type: B+<br />
    Nationality: Bangladeshi<br />
    Religion: Islam<br />
</p>
