
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">

    <tr>
        <th>Project Name</th>

        <th>Language</th>
        <th>Course</th>


    </tr>
    <tr>
        <td>Shop Management System</td>
        <th>C++</th>
        <th>OOP1</th>

    </tr>

    <tr>
        <td>Online Pet Shop</td>
        <th>Php, JavaScript</th>
        <th>OOP2</th>

    </tr>

    <tr>
        <td>Emergency Service App</td>
        <th>Python</th>
        <th>Software Engineering </th>

    </tr>



</table>
